/* #text
{
    
    color: black;
    transform: translate(60px,78px);
    text-align: center;
} */
 /* .text2
 {
    box-shadow: 2px,2px,0.5px;
 } */
 .user
 {
    text-align: center;
    padding-top: 80px;
    border-radius: 30px;
    outline: none;
    border-color: aqua;
 
    
 }
 .Student
 {
    font-weight: 600;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 165px;
    left: 44%;
    text-align: center;
 }
 .user input
 {
    border: 1px solid black;
    
    
 }
 .pass
 {
    text-align: center;
    padding-bottom: 3px;
 }
 .button
 {
    text-align: center;
 }

 .button button:hover{
    background-color: rgb(8, 238, 8);
 }
 /* .text2
 {
    margin: 50px auto;
    width: 200px;
    padding: 20px;
    background-color: transparent;
    border: 2px solid green;
    height: 200px;
    text-align:  center;

 } */
 .text2 {
    width: 300px; /* Set a fixed width */
    padding: 20px; /* Space inside the box */
    background: linear-gradient(to bottom, #8E2DE2, #4A00E0);

    border: 5px solid green; /* Creates a box */
    border-radius: 10px; /* Optional rounded corners */
    
    
    text-align: center; 
    margin: 100px auto; 

}
